 {% extends 'base.html' %} 
 
 {% block content %}
 <!-- Main Content -->
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="section-heading">
                <h2>Welcome To GradPads</h2>
            </div>
            <p>GradPads provides excellent, cost effective and quality accommodation to professionals, recent graduates and all students.
             We offer a range of newly refurbished two, three, four and five bedroomed properties to accommodate all your needs at competitive prices.</p>
            <p>Our properties are within close proximity to Liverpool city centre, providing easy access to the hospitals, universities, businesses, bars and restaurants.</p>
            <p>Our dedicated Team aim to fulfil your requirements and provide our tenants with a safe and enjoyable experience by providing the very best level of service and attention in comfortable surroundings.</p>
            <a><div href src="http://liverpool-rentals.co.uk/images/RLAlogo.jpg" alt="residential landlords assoc."></div></a>
        </div>
    </div>
  </div>
  <div class="row">
        <div class="col-12">
            <h5>Want to know more about our properties</h4>
            <h5 id="email-header">Email us</h4>
            <i class="fas fa-envelope "></i>
            <a href="mailto:hello@gradpads.co.uk" target="_blank">hello[@]gradpads.co.uk
            </a>
        </div>
    </div>
{% endblock %}

